<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GameView</title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="module" src="js/GameView.js"></script>
  </head>
  <body>
    <main class="main">
      <section id="leftPanel" class="leftPanel">
        <h2>Current Turn:</h2>
        <div id="turnId">
          <img id="RedId" src="./images/red-token.png" alt="" />
          <img id="YellowId" src="./images/yellow-token.png" alt="" />
        </div>
      </section>

      <section id="rightPanel">
        <header id="titleId">
          <h1>HTML, CSS and Javascript GameView</h1>
        </header>
        <article id="messageId"></article>
        <article id="boardId"></article>
      </section>
    </main>
  </body>
</html>
