body {
    text-align:center; 
   }

.grid{
    display: grid;
    grid-template-columns: repeat(7, 55px); 
    grid-template-rows: repeat(6, 55px);
    width: 385px;
    height: 330px;
    margin: 10px auto;
    justify-content: center;
    background-color: black;
}

.cell{
    border:3px solid black;
    background-color: white;
    border-radius: 50%;
    outline:  3px solid black;
}

.first-row.cell:hover{
    /*background-color: rgb(75, 204, 255);*/
    background-image: url("./image/insert-coin.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg);

}

.clicked {
    /*background-color: rgb(75, 204, 255);*/
    background-image: url("./image/insert-coin.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg);

}

.animated {
    animation:
    change-color 5s linear;
}