.column {
    float: left;
}

.cell {
    font-size : 20px; 
    height : 25px; 
    width : 100%;
    margin : 0px 5px;
}

.fillCell {
    background-color: rgb(100, 100, 100);
}

.textCell {
    text-align : center;
}

.value {
    background-color: rgb(100, 150, 100);
    border-radius: 50%;
    text-align : center;
}
